.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #9a616d;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9a616d;
    color: white;
    text-align: center;
}
